body{
    background-color: #146dc7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

container{
    color: #d7dfe4;
}

.digit{
    font-size: 130px;
    font-weight: bold;
    color:  #d7dfe4;
}

.txt{
    font-size: 40px;
    font-weight: bold;
    color:  #d7dfe4;
}

#btn-container{
    margin-top: 40px;
    text-align: center;
    
    
}

.btn{
    padding: 7px 25px;
    font-size: 15px;
    margin: 0px 10px;
    color: rgb(248, 244, 244);
    border: 2px;
    cursor: pointer;
}

#start{
    background-color: #1abc9c;
}

#stop{
    background-color: #3498db;
}

#reset{
    background-color: #e74c3c;
}